@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(to bottom, #00716b, #00716b)
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #f2f9f9;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body,
#app {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    font-weight: 500;
    // color: #646cff;
    color: white;
    text-decoration: inherit;

    &:hover {
        color: #f3c000;
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.ms-auto {
    margin-left: auto !important;
}
